<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h2>会員情報<h2>

<hr>
ようこそ<span th:text="${member.name}">様</span> <br>

<table border="1">
    <tr th:each="members:${memberlist}" >
        <td><span th:text="${members.id}"></span></td>
        <td><span th:text="${members.name}"></span></td>






    </tr>        
</table>










様<br>

<!-- @PathVariable  -->

<!-- <a th:href="@{modify/{id}(id=${member.id})}">会員情報変更</a> -->

<a th:href="@{modify/{id}(id=${member.id})}">会員情報変更</a>

<a href="logout">logout</a>




</body>
</html>