<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

 <form action="update" method="post">   
    <h3>会員情報変更</h3>
    ID:<input type="text" readonly value="123"> </br>
    PW1 <input type="password" value="123"></br>
    PW2 <input type="password" value="123"></br>
    NAME <input type="text" value="tam"></br>
    ADDRESS <input type="text" value="SHINJUKU 2-12-19"></br>
    GENDER <input type="radio" > 男　<input type="radio" > 女<br>

    <button type="submit" > 変更</button>

 </form>



</body>
</html>